body {
  background: #3b5998;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #dfe3ee;
  padding: 5px 5px 5px 5px;
  border: 1px solid #8b9dc3;
  margin: 10px;
}

* { overflow: auto;
}
