* { overflow: auto;
}


body {
  background: #3b5998;
}

h4 {
  margin: 10px;
}

.container {
  max-width: 600px;
  position: relative;
  background: #dfe3ee;
  padding: 5px 5px 5px 5px;
  border: 5px solid #8b9dc3;
  margin: 10px;
}

.container h2 {
  font-family: sans-serif; */change*/
}

.container h4 {
  font-family: sans-serif; */change*/
}

@@media (min-width: 650px)
 {
   .articles {
     width: 50%;
     float: left;
   }

   .articles ol {
     font-family: sans-serif; */change*/
   }

   .books {
     width: 50%;
     float: left;
   }

   .books ul {
     font-family: sans-serif; */change*/
   }
}
